<h1>Person info</h1>
Name: <strong>{{ person.name }}</strong><br>
Surname: <strong>{{ person.surname }}</strong><br>
Description: <strong>{{ person.description }}</strong><br><br>
<a href="{{ path('modifyPerson',{'id':person.id}) }}">EDIT YOUR PROFILE</a>
<hr>

<h4>Addresses:</h4>
{% include 'CodersLabBundle:Adress:showAddressesForPerson.html.twig' with {'person': person} %}
<a href="{{ path('newAddress',{'personId':person.id}) }}">Add Address</a><br>
<hr>


<h4>Emails:</h4>
{% include 'CodersLabBundle:Email:showEmailsForPerson.html.twig' with {'person': person} %}
<a href="{{ path('newEmail',{'personId':person.id}) }}">Add Email</a><br>
<hr>


<h4>Phones:</h4>
{% include 'CodersLabBundle:Phone:showPhonesForPerson.html.twig' with {'person': person} %}
<a href="{{ path('newPhone',{'personId':person.id}) }}">Add Phone</a><br>
<hr>



<a href="{{ path('showAll') }}">BACK TO MAIN SITE</a>