{% for addres in person.adresses %}
    <li>
        <a href="{{ path('modifyAddress',{'addressId':addres.id, 'personId':person.id}) }}">EDIT</a>
        <a href="{{ path('deleteAddress',{'addressId':addres.id, 'personId':person.id}) }}">DELETE</a>
        <ul>
            <li>City: {{ addres.city }}<br></li>
            <li>Street: {{ addres.street }}<br></li>
            <li>House Number: {{ addres.houseNumber }}<br></li>
            <li>Flat Number: {{ addres.flatNumber }}<br></li>
        </ul>
    </li>
{% else %}
    Nothing to show
{% endfor %}