<h1>Address data</h1>
ID: {{ address.id }}<br>
City: {{ address.city }}<br>
House: {{ address.houseNumber }}<br>
Flat: {{ address.flatNumber }}<br>
PersonID: {{ address.person.id }}<br>
Person Name: {{ address.person.name }}<br>
Person Surname: {{ address.person.surname }}<br>